@model Voluntario
@{
    ViewData["Title"] = "Cadastro de Voluntários";
}
<br>
<div class="titulo">
    <h4>Seja Voluntário</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="caes e gatos">
</center>

<form method="POST" action="Cadastro" name="formVolutario" onsubmit="return validaVoluntario()">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lblnome">Nome:</label>
            <input type="text" name="txtnome" id="txtnome">
            <span class="msg-erro msg-nome"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="lblemail">E-mail:</label>
            <input type="text" name="txtemail" id="txtemail">
            <span class="msg-erro msg-email"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lbltelefone">Telefone:</label>
            <input type="text" name="txttelefone" id="txttelefone">
            <span class="msg-erro msg-telefone"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="lbldatanascimento">Data de Nascimento:</label>
            <input type="date" name="txtdatanascimento" id="txtdatanascimento">
            <span class="msg-erro msg-datanascimento"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="Sexo">Sexo:</label>
        <input type="radio" name="txtsexo" id="txtsexo" value="Feminino"> Feminino
        <input type="radio" name="txtsexo" id="txtsexo" value="Masculino"> Masculino
        <span class="msg-erro msg-sexo"></span>
    </div>
    <p>
        <center><button type="submit" class="btn btn-primary">CADASTRAR</button></center>
    </p>
</form>
