@{
    ViewData["Title"] = "Cuidados com os Pets";
}
<br>
<div class="titulo">
    <h4>Cuidados com os Pets</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="Cães e Gatos">
</center>

<div class="col-12 col-md-12 col-lg-12 d-flex align-items-center">
    <div class="row">
        <div class="col-12 col-lg-4 text-center">
            <img src="/imagens/saude.jpg" alt="Saude" class="img-fluid">
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#Saude">Saúde
                Pets</button>
        </div>

        <div class="col-12 col-lg-4 text-center">
            <img src="/imagens/alimentacao.jpg" alt="Alimentação" class="img-fluid">
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                data-target="#Alimentacao">Alimentação Pets</button>
        </div>

        <div class="col-12 col-lg-4 text-center">
            <img src="/imagens/cuidados.jpg" alt="Cuidados" class="img-fluid">
            <button type="button" class="btn btn-primary mt-2 " data-toggle="modal" data-target="#Cuidados">Cuidados
                Pets</button>
        </div>
    </div>
</div>
</div>

@*------ Modal Saude ------*@
<div class="modal fade" id="Saude" tabindex="-1" aria-labelledby="modalSaudeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Saúde Pets</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <h3 class="text-center">Dica 1</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
                <h3 class="text-center">Dica 2</h3>
                <p class="mb-5">LLorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
                <h3 class="text-center">Dica 3</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae.
                </p>
            </div>
        </div>
    </div>
</div>

@*------ Modal Alimentação ------*@
<div class="modal fade" id="Alimentacao" tabindex="-1" aria-labelledby="modalAlimentacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Alimentação Pets</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>
            </div>
        </div>
    </div>
</div>

@*------ Modal Cuidados ------*@
<div class="modal fade" id="Cuidados" tabindex="-1" aria-labelledby="modalCuidadosLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="modal-title" id="exampleModalLabel">Cuidados Pets</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>

                <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
                    vix ad putent
                    delectus delicata usu. Vidit dissentiet eos.</p>
            </div>
        </div>
    </div>
</div>