@{
    ViewData["Title"] = "Home Page";
}
<br>
<div class="titulo">
    <h4>Bem vindos</h4>
</div>
<div class="slide-container">
    <div class="meusSlides ">
        <div class="qtslides">1 / 3</div>
        <img src="/imagens/caoegato.jpg" alt="Cachorros e Gatos" style="width: 100%; height=371px; object-fit: cover;">
        <div class="text">Cachorros e Gatos</div>
    </div>


    <div class="meusSlides ">
        <div class="qtslides">2 / 3</div>
        <img src="/imagens/gato.jpg" alt="Gato" style="width: 100%; height=371px; object-fit: cover;">
        <div class="text">Gatos</div>
    </div>

     <div class="meusSlides ">
        <div class="qtslides">3 / 3</div>
        <img src="/imagens/cachorro.jpg" alt="Cachorro" style="width: 100%; height=371px; object-fit: cover;">
        <div class="text">Cachorros</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)"> &#10094 </a>
    <a class="next" onclick="plusSlides(1)"> &#10095 </a>
</div>

<div class="dot-container">
    <span class="dot" onclick="currentSlides(1)"></span>
    <span class="dot" onclick="currentSlides(2)"></span>
    <span class="dot" onclick="currentSlides(3)"></span>
</div>

<div class="titulo">
    <h3>Me Adote</h3>
</div>
