@{
    ViewData["Title"] = "Quem Somos";
}
<br>
<div class="titulo">
    <h4>Quem Somos</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="Cães e Gatos">
</center>


<p>Apaixonado por animais, sonhava em ser veterinário.
    Hoje realizou o sonho e decidiu cuidar daqueles que tanto ama, abrindo um lugar para ajudar
    os animais desamparados.</p>

<p>Com isso criou o Me adote, que chegou em Praia Grande em 2021. A dedicação da comunidade foi o impulso
    inicial para construção deste sonho. E o sonho se tornou realidade! Sonho de criar um lugar
    onde os mais pequeninos, necessitados e abandonados pudessem se sentir respeitados, protegidos
    e amados. O sonho de se construir um verdadeiro lar. </p>

<p>Hoje, acolhemos animais abandonados, que sofreram maus tratos ou viviam em situação de risco.
    São cerca de 30 pets, entre cães e gatos, que recebem acolhimento, amor, vacinas, tudo feito
    com muito carinho para oferecer qualidade de vida a cada um deles</p>

<p>Todo o atendimento realizado é gratuito, e a instituição se mantém com o apoio de doações da
    sociedade.
</p>


<div>
    <img src="/imagens/pegadas.jpg" alt="" style="width: 100%; height=200px; object-fit: cover;">
</div>