@model Adocao
@{
    ViewData["Title"] = "Alteração Adoção";
}
<br>
<div class="titulo">
    <h4>Adoção</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="caes e gatos">
</center>

<form method="POST" asp-action="Editar">

    <input type="hidden" asp-for="Id">
    <div>
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome">
    </div>

    <div>
        <label asp-for="Email">E-mail:</label>
        <input asp-for="Email">
    </div>

    <div>
        <label asp-for="Telefone">Telefone:</label>
        <input asp-for="Telefone">
    </div>

    <div>
        <label asp-for="DataNascimento">Data de Nascimento: </label>
        <input asp-for="DataNascimento" type="date">
    </div>
    <div>
        <label asp-for="Endereco">Endereço:</label>
        <input asp-for="Endereco">
    </div>

    <div>
        <label asp-for="Cidade">Cidade:</label>
        <input asp-for="Cidade">
    </div>

    <div>
        <label asp-for="Estado">Estado: </label>
        <input asp-for="Estado">
    </div>
    <div>
        <label asp-for="Cep">CEP:</label>
        <input asp-for="Cep">
    </div>

    <div>
        <label asp-for="Animal">Animal:</label>
        <input asp-for="Animal">
    </div>

    <div>
        <center><button type="submit" class="btn btn-primary">SALVAR</button></center>
    </div>
</form>
