@{
    ViewData["Title"] = "Pets para Adoção";
}
<br>
<div class="titulo">
    <h4>Quem Somos</h4>
</div>

<center>
    <img src="/imagens/somos.jpg" alt="caes e gatos">
</center>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/fofo.png">
                    <center><text>Fofo</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou macho, tenho 2 meses, já estou vermifugado e com 1 dose da v10, tenho
                            porte médio, procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/branca.jpg">
                    <center><text>Branquinha</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou fêmea, tenho 2 anos, tenho porte médio para pequeno, peso uns 5kg, sou
                            castrada e muito dócil, procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/sapeca.jpeg">
                    <center><text>Sapeca</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou macho, tenho 3 meses, já estou vermifugado e com 1 dose da v10, tenho
                            porte médio, procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/pretinho.jfif">
                    <center><text>Pretinho</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou macho, tenho 6 meses, sou dócil, mega e extremamente amoroso, já estou
                            castrado, vacinado e vermifugado, procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/rajado.jfif">
                    <center><text>Rajado</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou macho, tenho 1 ano e 2 meses, sou tímido e muito megio, fui castrado,
                            procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/imagens/onca.jfif">
                    <center><text>Onça</text></center>
                    <div class="card-body">
                        <p class="card-text">Sou macho, tenho 2 anos, sou castrado, muito dócil, sei usar a caixa de
                            areia, adoro brincar, acho que recebi esse nome por causa dos pelos, procuro um lar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="Cadastro"><button type="button" class="btn btn-secondary">ADOTAR</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>